anndata==0.10.8
h5py ==3.14.0
hnswlib== 0.8.0
numpy==1.26.4
pandas==2.3.2
scikit-image==0.24.0
scikit-learn==1.6.1
scikit-misc==0.2.0rc1
scikit-network== 0.33.3
scipy==1.13.1
scanpy==1.10.3
seaborn==0.13.2
torch==2.2.2
torch_cluster==1.6.3+pt22cu121
torch-geometric==2.6.1
torch_scatter==2.1.2+pt22cu121
torch_sparse==0.6.18+pt22cu121
torch_spline_conv==1.2.2+pt22cu121
torchaudio==2.2.2
torchmetrics==1.8.2
torchvision==0.17.2
tqdm==4.67.1
rpy2==3.5.2